/* line 3, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta h2 {
  padding: 0 15px;
  text-align: center;
}

/* line 6, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta h2 i {
  color: #009688;
  font-size: 20px;
}

/* line 11, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list {
  border: 1px solid #dddddd;
  border-radius: 5px;
}

/* line 14, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul {
  padding: 0 15px;
  border-top: 1px solid #dddddd;
  margin-bottom: 0;
}

/* line 18, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul li {
  list-style: none;
}

/* line 20, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul li .form-group {
  padding: 0 15px;
}

/* line 23, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul li .btn {
  margin: 15px;
}

/* line 26, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul li div:first-child {
  line-height: 40px;
}

/* line 30, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul:first-child {
  border-top: none;
}

/* line 34, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul > li > div > a {
  display: inline-block;
  padding: 10px 15px;
  color: #656565;
}

/* line 38, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul > li > div > a:hover {
  text-decoration: none;
  color: #bfaf80;
}

/* line 41, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul > li > div > a:hover i {
  transform: scale(1.1);
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

/* line 55, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul > li > div > a i {
  padding-right: 5px;
  color: #009688;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

/* line 69, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul li ul {
  border: 1px solid #e2f8f6;
}

/* line 71, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul li ul li div {
  line-height: 30px !important;
}

/* line 73, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul li ul li div a {
  padding: 0;
}

/* line 77, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/admin-styles.scss */
.meta > .meta-list ul li ul:nth-child(odd) {
  background: #e2f8f6;
}

/*# sourceMappingURL=../css/admin-styles.map */