/* line 2, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/bahay-style.scss */
.bahay {
  color: #656565;
}

/* line 5, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/bahay-style.scss */
.bahay ul li {
  display: inline-block;
}

/* line 10, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/bahay-style.scss */
.bahay .input-group {
  margin-top: 30px;
}

/*# sourceMappingURL=../css/bahay-style.map */