/* line 4, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/developers-style.scss */
.list-property h1 {
  color: #656565;
  margin-bottom: 20px;
}

/*# sourceMappingURL=../css/developers-style.map */