/* line 4, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location {
  color: #656565;
  margin-top: 30px;
}

/* line 7, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location .row {
  margin-bottom: 30px;
}

/* line 9, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location .row h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

/* line 12, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location .row h3 a {
  color: #656565;
}

/* line 16, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location .row ul {
  padding-left: 0;
  list-style: none;
}

/* line 19, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location .row ul li {
  padding: 5px 0;
}

/* line 21, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location .row ul li a {
  color: #009688;
}

/* line 30, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single {
  margin-top: 50px;
  color: #656565;
}

/* line 33, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single .location-head {
  margin-bottom: 30px;
}

/* line 35, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single .location-head h3 {
  margin-top: 0;
}

/* line 39, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single .featured-property {
  color: #656565;
}

/* line 41, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single .featured-property h2 {
  margin-bottom: 20px;
}

/* line 45, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single .loc-sidebar {
  padding: 15px;
  background: #f7f7f7;
  color: #656565;
  border-radius: 5px;
}

/* line 50, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single .loc-sidebar h3 {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

/* line 55, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single .loc-sidebar p {
  margin-top: 30px;
}

/* line 57, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.location-single .loc-sidebar p a {
  word-wrap: break-word;
}

/* line 65, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.tags {
  padding: 15px;
  background: #f7f7f7;
  color: #656565;
  border-radius: 5px;
}

/* line 70, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.tags h3 {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

/* line 75, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.tags ul {
  padding: 0;
}

/* line 77, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.tags ul li {
  display: inline-block;
  margin-bottom: 10px;
  list-style: none;
}

/* line 81, C:/xampp/deedel-v2/dev-deedel/public/assets/network/bahay/scss/location-style.scss */
.tags ul li a {
  padding: 5px 10px;
  background: #009688;
  color: #fff;
  border-radius: 50px;
}

/*# sourceMappingURL=../css/location-style.map */