@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.banner{
	background-color: #c5d4d4;
	overflow: hidden;
    padding: 37px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 85%;
    text-align: center;
    .banner-title{
    	font-size: 52px;
    	font-weight: bold;
    	color: #3c3d41;
    	margin-top: 0;
    }
 	p{
 		margin: 0 auto;
 		color: 666;
 		max-width: 300px;
 	}
}