@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.footer{
	padding: 40px;
	text-align:center;
	background-color: #333;
	.btn-footer{
		background-color: #ff6008;
		color: #fff;
		padding: 5px 25px;
		border-radius: 15px;
		font-weight: bold;
	}
	.footer-text{
		padding: 30px 0;
		color: #777;
	}
}