@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.team{
	font-size: 12px;
	color: #b2b2b2;
	.crew-pos{
		font-size: 10px;
	}
	.crew{
		@extend .crew-pos;
		font-weight: bold;
		color: #515255;
	}
	.team-desc{
		text-align: center;
		padding-bottom: 30px;
		.team-title{
			font-size: 42px;
			font-weight: bold;
			color: #515255;
		}
		p{
			font-size: 16px;
		}
	}
}

	
