@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.portfolio{
	img{
		width: 100%;
	}
	.portfolio-det{
		padding: 30px;
		color: #b2b2b2;
		.project-title{
			font-size: 12px;
			color: #515255;
		}
		.view-project{
			font-size: 10px;
			color: #ff5f07;
		}
	}
}