@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.border-btm{
	border-bottom: 1px solid #5f6165;
}

.footer{
	background-color: #515356;
	.logo{
		float: left;
		padding: 10px 0;
		.logo-text{
			font-size: 16px;
			padding-left: 10px;
			font-weight: bold;
		}
		a{
			color: #ddd;
			text-decoration: none;
		}
	}
	.footer-nav{
		float: right;
		font-weight: bold;
		a{
			color: #ddd;
		}
	}
	.nav>li>a{
		&:hover{
			background-color: inherit;
		}
		&:focus{
			background-color: inherit;
		}
	}
	.footer-btm{
		a{
			color: #b2b2b2;
		}
		.footer-btm-right{
			float: right;
		}
		.footer-btm-left{
			float: left;
		}
	}
}