@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.price-table{
	margin: 0 30px;
	border: 1px solid #eee;
	text-align: center;
	color: #515254;
	font-size: 12px;
	.table-header{
		padding: 15px 0;
		background-color: #eee;
		font-weight: bold;
	}
	.table-body{
		padding: 25px;
		.feat{
			font-size: 10px;
			font-weight: bold;
		}
		.feat-desc{
			color: #b2b2b2;
		}
		.price{
			padding-bottom: 10px;
			.amt{
				font-size: 42px;
				font-weight: bold;
			}
			.due{
				color: #b2b2b2;
				display: inline-block;
				width: 20px;
				padding-left: 8px;
			}
		}
	}
	&:hover{
		border-color: #ff6008;
		.table-header{
			background-color: #ff6008;
			color: #fff;
		}
	}
}
.btn-choose{
	@extend .feat;
	border: 1px solid #eee;
	padding: 5px 20px;
	color: #515254;
	border-radius: 15px;
}