@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.team{
	text-align: center;
	font-size: 14px;
	color: #b2b2b2;
}
.team-desc{
	padding-bottom: 30px;
	.team-title{
		font-size: 42px;
		font-weight: bold;
		color: #515255;
	}
	p{
		font-size: 16px;
	}
}
.crew{
	img{
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}
	.crew-pos{
		font-size: 12px;
	}
	.crew-name{
		@extend .crew-pos;
		padding-top: 10px;
		font-weight: bold;
		color: #515255;
	}
}