@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.price-table{
	background: #333;
	color: #777;
	.table-header{
		padding: 15px 0;
		font-weight: #515356;
		font-weight: bold;
		font-size:12px;
		color: #fff;
	}
	.price{
		color: #b2b2b2;
		font-weight: normal;
	}
}
.btn-choose{
	border: 1px solid #eee;
	padding: 5px 30px;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
	border-radius: 15px;
}
.ptb15{
	padding: 15px 0;
}