@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.price-table{
	margin: 0 30px;
	text-align: center;
	color: #515254;
	font-size: 12px;
	.table-header{
		padding: 15px 0;
		font-weight: #515356;
		font-weight: bold;
		font-size: 42px;
	}
	.table-body{
		padding: 25px;
		.feat{
			font-size: 10px;
			font-weight: bold;
		}
		.feat-desc{
			color: #b2b2b2;
		}
	}
	.price{
		font-size: 16px; 
		color: #b2b2b2;
	}
}
.btn-choose{
	@extend .feat;
	border: 1px solid #eee;
	padding: 5px 20px;
	color: #515254;
	border-radius: 15px;
}
.border-lr{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}