@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.portfolio{
	color: #b2b2b2;
	.date{
		font-size: 10px;
	}
	.portfolio-title{
		font-size: 10px;
		font-weight: bold;
		color: #515255;
	}
}