@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.footer{
	background-color: #333;
	.logo{
		float: left;
		padding: 15px 0;
		.logo-text{
			font-size: 16px;
			padding-left: 10px;
			font-weight: bold;
		}
		a{
			color: #999;
			text-decoration: none;
		}
	}
	.footer-nav{
		float: right;
		font-weight: bold;
		a{
			color: #ddd;
		}
		.nav>li>a{
			&:hover{
				background-color: inherit;
			}
			&:focus{
				background-color: inherit;
			}
		}
	}
}