@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.contact-heading{
	padding-bottom: 30px;
	text-align: center;
	color: #515255;
	font-size: 42px;
	font-weight: bold;
}
.contact-form{
	input{
		width: 100%;
		margin-bottom: 40px;
		padding: 20px;
		background-color: #eee;
		border: none;
	} 
	textarea{
		@extend input;
	}
}

.btn-send{
	float: left;
	color: #fff;
	background-color: #ff5e1b;
	padding: 6px 30px;
	border-radius: 15px;
}
.attach-doc{
	float: right;
	padding-top: 6px;
	color: #777;
}
.contact-social{
	margin: 0;
	padding: 0;
	li{
		display: inline-block;
		padding-right: 20px;
		a{
			color: #b2b2b2;
		}
	}
}
.bcont{
	font-weight: bold;
	padding-bottom: 5px;
}
.dcont{
	color: #b2b2b2;
	padding-bottom: 5px;
	span{
		padding-left: 10px;
	}
}