@import "bootstrap-sass-master/assets/stylesheets/bootstrap";
@import 'widget';

.single-blog{
	color: #666d70;
}
.post-title{
	font-size: 52px;
	font-weight: bold;
	color: #3c3d41;
}
.post-header{
	padding: 20px;
	border-bottom: $border;
	text-align: center;
	font-weight: bold;
	.h-center{
		display:inline-block;
	}
	.h-left{
		float: left;
	}
	.h-right{
		float: right;
	}
	a{
		color: #888;
	}
}
.post-details{
	padding-bottom: 40px;
	text-align: center;
		a{
		color: #888;
	}
}
.slider{
	position: relative;
	.pop-out{
		position: absolute;
		max-width: 200px;
		padding: 30px;
		top: 30px;
		left: 30px;
		border-radius: 5px;
		background-color: #fff;
		.close{
			position: absolute;
			top: 5px;
			right: 10px;
			font-size: 14px;
		}
	}
	img{
		width: 100%;
	}
}
.post-date{
	font-style: italic;
}
.post-content{
	padding: 40px;
}
.excerpt{
	font-size: 22px;
}
.like-count{
	padding: 2px 8px;
	margin-left: 10px;
	border-radius: 8px;
	background-color: #b8c6c7;
	color: #fff;
	font-size: 10px;
	vertical-align: middle;
}
.comments{
	padding: 0 40px;
	border-top: $border;
	background-color: #f7f7f7;
	.comments-head{
		font-weight: 600;
		font-size: 22px; 
		text-align: center;
		.comm-count{
			@extend .like-count;
			background-color: #1f79ed;
		}
	}
}
.title-highlight{
	color: #3b3d40;
	font-weight: 600;
	font-size: 22px;
}
.title-highlight-sml{
	@extend .title-highlight;
	font-size: 12px;
}
.title-highlight-large{
	@extend .title-highlight;
	font-size: 32px;
	font-weight: 400;
	border-top: $border;
	border-bottom: $border;
	padding: 30px 0;
	margin: 20px 0;
}
.btn-blog{
	padding: 2px 15px;
	color: #666;
	font-weight: 600;
	border: 1px solid #ededed;
	border-radius: 10px;
}
.fb-share{
	@extend .btn-blog;
	background-color: #225b99;
	color: #fff;
	border: none;
}
.tw-twit{
	@extend .fb-share;
	background-color: #00adf2;
}
.social-blog{
	padding: 0;
	li{
		display:inline-block;
	}
}
.add-comment{
	background-color: #eee;
	width: 100%;
	max-width: 100%;
	height: 150px;
}
.carousel-control{
	text-shadow: none;
	width: inherit;
	top: inherit;
	left: 25px;
	bottom: 30px;
	background-image: none;
	opacity: 1;
}
.carousel-control.left{
	background-image:none;
}
.carousel-control.right{
	@extend .carousel-control.left;
	right: 25px;
}
