@import 'widget';

.search-box{
	position: relative;
	margin-bottom: 10px;
	input{
		width: 100%;
		padding: 10px;
		background-color: #eee;
		border-radius: 20px;
		border: none;
	}
	button{
		background-color: transparent;
		border:none; 
		position: absolute;
		right: 20px;
		top: 20%;
	}
}