@import 'widget';


.color-list{

	li{
		display: inline-block;
	}
}
.color-circle{
	display: block;
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
.blue{
	@extend .color-circle;
	background-color: #1476f1;
}
.green{
	@extend .color-circle;
	background-color: #82d889;
}
.black{
	@extend .color-circle;
	background-color: #3c3d41;
}
.gray{
	@extend .color-circle;
	background-color: #838d8f;
}
.lgray{
	@extend .color-circle;
	background-color: #b8c6c7;
}

.gold{
	@extend .color-circle;
	background-color: #ce954a;
}
.lpurple{
	@extend .color-circle;
	background-color: #7b7f91;
}
.dgray{
	@extend .color-circle;
	background-color: #777777;
}
.dgray-2{
	@extend .color-circle;
	background-color: #bdbdbd;
}
.dwhite{
	@extend .color-circle;
	background-color: #eee;
}