@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.category-bar{
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
	.category-title{
		margin: 0;
		padding: 15px 20px;
		a{
			display: block;
			color: #3c3d41;
			font-weight: bold;
		}
	}
	li{
		border-bottom: 1px solid;
		&:last-child{
			border-bottom: none;
		}
	}
}
.sub-category{
	@extend .category-bar;
	background-color: #838d8f;
	padding: 20px;
	li{
		padding: 5px 0;
		border-bottom: none;
		a{
			color: #daddde;
		}
	}
}
.angle-pos{
	float: right;
	.right{
		display:none;
	}
}
.collapsed{
	.right{
		display:block;
	}
	.down{
		display: none;
	}
}