@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.header{
	background: #3b5bf9;
	padding: 25px 0;
	a{
		color: #fff;
	}
}
.logo{
	color: #fff;
	font-size: 29px;
	span{
		vertical-align: middle;
	}
}
.navlist{
	float: right;
	padding-top: 10px;
	font-size: 16px;
	li{
		display: inline-block;
		padding-left: 10px;
	}
}
.search-btn{
	padding-top: 10px;
	float: right;
}