@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.header{
	a{
		color: #3c3d41;
	}
	text-align: center;
	.navlist{
		display:inline-block;
		margin: 0;
		padding: 20px 0;
		li{
			display:inline-block;
			padding: 0 15px;
			font-weight: bold;
		}
	}
	.btn-search{
		padding-top: 20px;
		float: right;
	}
}
.header-logo{
	font-size: 20px;
	font-weight: bold;
	float: left;
	margin-top: 18px;
	span{
		font-weight: normal;
		font-style: italic;
		color: #777;
	}
}