@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';
a{
	&:hover{
		text-decoration: none;
	}
}
.header{
	background-color: #2e2e30;
	text-align: center;

}

.header-top{
	border-bottom: 1px solid #48484a;
	padding: 25px 0 15px;
	a{
		color:#b8c5c6;
	}
	.header-social{
		float: left;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			a{
				padding: 5px;
				border: 1px solid #383a3c;
				border-radius: 50%;
			}
			i{
				width: 15px;
				height: 15px;
			}
		}
	}
	.header-logo{
		display: inline-block;
   		margin: 0 auto;
   		font-size: 40px;
		a{
			color: #fff;
		}
		span{
			color: #b8c6c7;
		}
	}
	.btn-sign{
		float: right;
		padding: 3px 20px;
    	border-radius: 13px;
    	border: 1px solid #383a3c;
    	font-weight: bold;
	}
}
.header-btm{
	padding: 15px 0;

}
.navlist{
	margin: 0;
	padding: 15px 0;
	border-right: 1px solid #48484a;
	border-left: 1px solid #48484a;
	li{
		display:inline-block;
		padding: 0 5px;
		font-weight: bold;
		a{
			color: #fff;
		}
	}
}
.btn-search{
	padding-top: 10px;
	font-size: 20px;
	color: #fff;
}
.btn-bar{
	@extend .btn-search;
	background-color: transparent;
	border: none;
}