@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';
a{
	&:hover{
		text-decoration: none;
	}
}
.header{
	color: #3c3d41;
	a{
		color: #3c3d41;
	}
}
.header-logo{
	font-size: 44px;
	font-weight: bold;
	a{
		color: #3c3d41;
	}
	span{
		display:block;
		color: #838d8f;
	}
}
.navlist{
	text-align: center;
	margin: 0;
	padding: 15px 0;
	li{
		display:inline-block;
		padding: 0 5px;
		font-weight: bold;
	}
}
.search-from{
	padding: 15px 0;
	input{
		border: none;
		font-weight: bold;
	}
}
.border-left{
	border-left: 1px solid #ddd;
}
.border-bottom{
	border-bottom: 1px solid #ddd;
}
.border-right{
	border-right: 1px solid #ddd;
}