@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.header-top{
	padding: 20px 0;
	text-align: center;
	background-color: #2e2e30;
	color: #fff;
	.header-top-left{
		float: left;
	}
	.header-logo{
		display: inline-block;
	}
	.header-top-right{
		float: right;
	}
	.lang{
		display: inline-block;
		padding: 0 40px;
		span{
			color: #aaa;
		}
	}
}
.header-btm{
	text-align: center;
	.navlist{
		display:inline-block;
		margin: 0;
		padding: 20px 0;
		li{
			display:inline-block;
			padding: 0 15px;
			font-weight: bold;
		}
	}
	.btn-search{
		padding-top: 20px;
		float: right;
	}
}
.btn-header{
	border: 1px solid #7e7e7e;
    padding: 5px 15px;
    border-radius: 15px;
}
.btn-sign-in{
	@extend .btn-header;
    color: #7e7e7e;
}
.btn-cart{
	@extend .btn-header;
	border: 1px solid #7ebf85;
	color: #7ebf85;
}