@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.poster{
	position: relative;
	z-index: 9;
	width: 105px;
	height: 150px;
	max-width: 100%;
	float: left;
}

.new-trailers{
	border: 1px solid #e6e6e6;
	.trailer-header{
		padding: 20px;
		text-align: center;
		.trailer-header-name{
			margin: 0;
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
		}
	}
	.trailers{
		padding: 30px;
		border-top: 1px solid #e6e6e6;
		border-bottom: 1px solid #e6e6e6;
		.trailer{
			overflow: hidden;
			padding-left: 30px;
			h3{
				margin-top: 0;
				font-size: 22px;
			}
		}
		.duration{
			padding: 5px 0;
			color: #999;
		}
		.rating{
			display: inline-block;
			color: #be926f;
			.blank{
				color: #ccc;
			}
		}
	}
	.pcont{
		position: relative;
		float: left;
		.fa-play{
			position: absolute;
			width: 32px;
			z-index: 10;
			right: 0;
		    left: 0;
		    top: 47%;
			margin: 0 auto;
			padding-left: 3px;	
			text-align: center;
			border: 2px solid #fff;
			color: #fff;
			border-radius: 50%;
			line-height: 28px;
		}
		&:after{
			content: '';
			border: 1px solid #e7e7e7;
			position: absolute;
			top: 6px;
			right: -6px;
			left: 6px;
			bottom: -6px;
			background-color: #fff;
		}
		&:before{
			content: '';
			border: 1px solid #e7e7e7;
			position: absolute;
			top: 12px;
			right: -12px;
			left: 12px;
			bottom: -12px;
			background-color: #f7f7f7;
		}
	}
	.trailer-footer{
		text-align: center;
		padding: 20px 0;
		font-size: 13px;
		font-weight: bold;
		a{
			color: #999;
		}
	}
}