@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.btn-summary{
	display: inline-block;
	padding: 10px 20px;
	margin-right: 10px;
	border: 2px solid #be926f;
	border-radius: 20px;
	color: #333;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.media-movie{
	padding: 40px 30px;
	border: 1px solid #e6e6e6;
	.movie{
		overflow: hidden;
		padding-left: 50px;
		.title{
			font-size: 44px;
			margin-top: 0;
		}
		.genre{
			font-size: 16px;
		}
		.summary{
			padding: 30px 0;
		}
		.duration{
			color: #999;
			padding: 0 20px;
		}
		.rating{
			display: inline-block;
			color: #be926f;
			.blank{
				color: #ccc;
			}
		}
		.social{
			display: inline-block;
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				padding-left: 15px;
				a{
					color: #999;
				}
			}
		}
		
	}
	.pcont{
		position: relative;
		float: left;
		.fa-play{
			position: absolute;
			width: 32px;
			z-index: 10;
			right: 20px;
			bottom: 20px;
			margin: 0 auto;
			padding-left: 3px;	
			text-align: center;
			border: 2px solid #fff;
			color: #fff;
			border-radius: 50%;
			line-height: 30px
		}
		&:after{
			content: '';
			border: 1px solid #e7e7e7;
			position: absolute;
			top: 6px;
			right: -6px;
			left: 6px;
			bottom: -6px;
			background-color: #fff;
		}
		&:before{
			content: '';
			border: 1px solid #e7e7e7;
			position: absolute;
			top: 12px;
			right: -12px;
			left: 12px;
			bottom: -12px;
			background-color: #f7f7f7;
		}
	}
	.poster{
		position: relative;
		z-index: 9;
		max-width: 100%;
		width: 205px;
		height: 285px;
	}
	.head-cast{
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		padding-bottom: 30px;
	}
	.cast{
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 15px;
		text-align: center;
		li{
			padding: 5px 0;
		}
		a{
			color: #be926f;
		}
	}
}