@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';
body{
	background-color: #232323;
}

.border-btm{
	border-bottom: 1px solid #5f6165;
}

.header{
	padding: 30px 0;
	.header-nav{
		float: right;
		.nav>li>a{
			color: #fff;
			font-size: 20px;
			&:hover{
				color: #be926f;
			}
		}
	}
	.logo{
		float: left;
	}
}
.footer{
	color: #737373;
	.footer-nav{
		float: right;
		li{
			display: inline-block;
			a{
				color: #737373;
			}
		}
	}
	.copyright{
		float: left;
		padding: 15px 0;
	}
}
.nav>li>a{
	&:hover{
		background-color: inherit;
	}
	&:focus{
		background-color: inherit;
	}
}