@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';
body{
	background-color: #232323;
}
.border-btm{
	border-bottom: 1px solid #5f6165;
}
.header-top{
	padding: 40px 0;
}
.header-contact{
	display: inline-block;
	padding-right: 40px;
	.info{
		display: inline-block;
		vertical-align: middle;
		padding-left: 30px;
		margin: 0;
		font-size: 20px;
		color: #fff;
		.info-det{
			display: block;
		}
		.call{
			font-size: 24px;
		}
		.location{
			font-size: 14px; 
			color: #999;
		}
		.email{
			font-size: 14px;
			color: #be926f;
		}
	}
}
.header-btm{
	padding: 25px 0;
	.nav>li>a{
		color: #fff;
		font-weight: bold;
		&:hover{
			color: #be926f;
		}
	}
	.search{
		padding-top: 12px;
		float: right;
		.search-box{
			position: relative;
			margin-bottom: 10px;
			input{
				width: 100%;
				padding: 5px 25px;
				background-color: transparent;
				border-radius: 20px;
				border: 1px solid #323232;
			}
			button{
				background-color: transparent;
				border:none; 
				color: #666666;
				position: absolute;
				right: 15px;
				top: 4px;
			}
		}
	}
}
.footer{
	color: #666666;
	a{
		color: #666666;
	}
	.footer-right{
		float: right;
	}
	.footer-left{
		float: left;
	}
	.copyright{
		float: left;
		padding-top: 16px;
		padding-right: 20px;
	}
}
.nav>li>a{
	&:hover{
		background-color: inherit;
	}
	&:focus{
		background-color: inherit;
	}
}