@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.popular-tracks{
	border: 1px solid #e6e6e6;
	.heading{
		padding: 10px 0;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		border-bottom: 1px solid #e6e6e6;
	}
}
.song{
	overflow: hidden;
	padding: 10px 20px;
	.num{
		font-size: 36px;
		color: #ccc;
		vertical-align: middle;
	}
	.song-title{
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding-left: 10px;
		font-size: 18px;
		.artist{
			display: block;
			font-size: 14px;
			color: #999;
		}
	}
	.slength{
		float: right;
		padding: 6px 0;
	}
}
.songs{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		border-bottom: 1px solid #e6e6e6;
		&:last-child{
			border-bottom: none;
		}
	}
}
.triangle{
	margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #fe642f;
    position: relative;
    &:after{
	    content: '';
	    position: absolute;
	    top: 2px;
	    left: -7px;
	    width: 0;
	    height: 0;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-bottom: 10px solid white;
     }
 }
 .triangle-green{
 	@extend .triangle;
 	border-bottom: none;
    border-top: 13px solid #66cc33;
    &:after{
    	@extend .triangle:after;
    	top: inherit;
    	border-bottom: none;
	    bottom: 2px;
	    border-top: 10px solid white;
     }
 }