@import 'bootstrap-sass-master/assets/stylesheets/bootstrap';

.border-btm{
	border-bottom: 1px solid #a8a8a8;
}
.header{
	background-color: #999999;
	.header-top{
		text-align: center;
		padding: 20px 0;
		a{
			color: #232323;
		}
		.header-top-right{
			float: right;
		}
		.header-top-left{
			font-size: 24px;
			float: left;
		}
	}
}

.cart-icon{
	position: relative;
	.cart-num{
		position: absolute;
		top: 10px;
	    right: 6px;
	    width: 15px;
	    line-height: 15px;
	    background-color: #be926f; 
	    font-size: 10px;
	    color: #fff;
	    text-align: center;
	    border-radius: 50%
	}
}

.nav>li>a{
	&:hover{
		background-color: inherit;
	}
	&:focus{
		background-color: inherit;
	}
}
.carousel-indicators{
	display: none;
}
.carousel-text-indicator{
	position: absolute;
	bottom: 50px;
	z-index: 9;
	list-style: none;
	color: #fff;
	li{
		display: inline-block;
		cursor: pointer;
	}
	.slider-collection.active{
		color: #232323;
		border-bottom: 2px solid #be926f;
	}
	.slider-collection{
		margin-right: 20px;
		border-bottom: 2px solid #bdbdbd;
		.num{
			font-size: 40px;
			font-weight: bold;
		}
		.det{
			display: inline-block;
			font-size: 12px;
			.det-date{
			display: block;
			}	
		}	
	}
}
.carousel-control{
	text-shadow: none;
	width: inherit;
	top: 50%;
	left: 25px;
	bottom: 30px;
	background-image: none;
	opacity: 1;
}
.carousel-control.left{
	background-image:none;
}
.carousel-control.right{
	@extend .carousel-control.left;
	right: 25px;
}
.slider-text{
	position: absolute;
	top: 25%;
	color: #fff;
	.title{
		font-size: 110px;
		font-weight: bold;
		.sub-title{
			display: block;
			font-size: 62px;
		}
	}
	.date{
		font-size: 30px;
	}
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{
	width: 100%;
}