@import "widget";
.social-list{
	border-top: $border;
	ul{
		li{
		padding: 10px 0;
		border-right: $border;
		border-left: $border;
		display: inline-block;
		}
	}
}
.profile-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.profile-name{
	color: #3c3d41;
	font-weight: bold;
	margin-top: 10px;
}