@import "widget";
.tags{
  font-weight: bold;
  padding: 0;
  li{
    display:inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    border: $border;
    a{
      color: $widget-fcolor;
    }
  }
}