@import "bootstrap-sass-master/assets/stylesheets/bootstrap";
$border: 1px solid #eeeeee;
$widget-fcolor: #838c8d;
.widget{
  border: $border;
  background-color: #fff;
  border-radius: 5px;
  color: $widget-fcolor;
  overflow: hidden;
  .widget-header{
    color: #3b3d40;
    font-weight: bold;
    padding: 20px 10px;
    border-bottom: $border;
  }
  .widget-body{
    padding: 30px;
  }
  .widget-footer{
    padding: 20px 10px;
    font-weight: bold;
    text-align: center;
    border-top: $border;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    color: $widget-fcolor;
  }
  .widget-bg{
    position: relative;
    min-height: 200px;
    background-size: cover;
  }
  .widget-title{
    font-weight: bold;
    font-size: 15px;
    color: #3b3d40;
  }
  .widget-tag{
    position: absolute;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    padding: 0 5px;
    color: #fff;
    font-weight: bold;
  }

}