@import '../../base/variable';

.admin-nav{
	.network-dashboard-menu{
		width: 60px;
	    height: 60px;
	    bottom: 0;
	    background: $teal;	
	    display: block;
	    margin-bottom: 15px;
	    margin-left: 15px;
	    position: fixed;
	    color: #fff;
	    border-radius: 50%;
	    line-height: 60px;
	    text-align: center;
	}
	.admin-nav-items{
		background: $teal;
		margin: 0;
		padding: 0;
		width: 100%;
		position: fixed;
		list-style: none;
		bottom: 0;
		>li{
			float: left;
			>a{
				display: block;
				color: white;
				padding: 16px;
				text-decoration: none;
			}
		}
		>li .nav-subItems{
			bottom: 60px;
			margin-left: 15px;
			position: absolute;
			padding: 15px;
			background: #e2f8f6;
		 	border-radius: 5px;
			list-style: none;
			a{
				color: $primary-color;
				i{
					color: #009688;
					padding-right: 5px;	
				}
				&:after{
				content: '';
			    position: absolute;
			    left: 10%;
			    top: 100%;
			    width: 0;
			    height: 0;
			    border-left: 10px solid transparent;
			    border-right: 10px solid transparent;
			    border-bottom: 10px solid $teal;
			    clear: both;
			}
			}
		}
	}
} 

.network-dashboard{
	h4{
		color: #009688;
		text-align: center;
		span{
			display: block;
			font-size: 15px;
		}
	}
}