@import '../../../base/variable';
.meta{
	h2{
		padding: 0 15px;
		text-align: center;
		i{
			color: $icon-color;
			font-size: 20px;
		}
	}
	>.meta-list{
		border: $default-border;
		border-radius: 5px;
		ul{
			padding: 0 15px;
			border-top: $default-border;
			margin-bottom: 0;
			li{
				list-style: none;
				.form-group{
					padding: 0 15px;
				}
				.btn{
					margin: 15px;
				}
				div:first-child{
					line-height: 40px;
				}
			}
			&:first-child{
				border-top: none;
			}
		}
		ul>li>div>a{
			display: inline-block;
			padding: 10px 15px;
			color: #656565;
			&:hover{
				text-decoration: none;
				color: #bfaf80;
				i{
			    	transform: scale(1.1);
	        		box-shadow: 0px 0px 150px #000000;
				    z-index: 2;
				    -webkit-transition: all 200ms ease-in;
				    -webkit-transform: scale(1.5);
				    -ms-transition: all 200ms ease-in;
				    -ms-transform: scale(1.5);   
				    -moz-transition: all 200ms ease-in;
				    -moz-transform: scale(1.5);
				    transition: all 200ms ease-in;
				    transform: scale(1.5);
			    }
			}
			i{
				padding-right: 5px;
				color: $icon-color;
				-webkit-transition: all 200ms ease-in;
		    	-webkit-transform: scale(1); 
		    	-ms-transition: all 200ms ease-in;
		    	-ms-transform: scale(1); 
		    	-moz-transition: all 200ms ease-in;
		    	-moz-transform: scale(1);
		    	transition: all 200ms ease-in;
		    	transform: scale(1);  
	    	}
		}

		ul li ul{
			border: 1px solid #e2f8f6;
			li div{
				line-height: 30px!important;
				a{
					padding: 0;
				}
			}
			&:nth-child(odd){
				background: #e2f8f6;
			}
		}
	}
}