@import '../../../base/variable';

//location
.location{
	color: $primary-color;
	margin-top: 30px;
	.row{
		margin-bottom: 30px;
		h3{
			padding-bottom: 10px;
			border-bottom: $default-border;
			a{
				color: $primary-color;
			}
		}
		ul{
			padding-left: 0;
			list-style: none;
			li{
				padding: 5px 0;
				a{
					color: $teal-color;
				}
			}
		}
	}
}

//location-single
.location-single{
	margin-top: 50px;
	color: $primary-color;
	.location-head{
		margin-bottom: 30px;
		h3{
			margin-top: 0;
		}
	}
	.featured-property{
		color: $primary-color;
		h2{
			margin-bottom: 20px;
		}
	}
	.loc-sidebar{
		padding: 15px;
		background: #f7f7f7;
		color: $primary-color;
		border-radius: 5px;
		h3{
			margin: 0 0 20px;
			padding-bottom: 10px;
			border-bottom: $default-border;
		}
		p{
			margin-top: 30px;
			a{
				word-wrap: break-word;
			}
		}
	}
}

//bahay tags
.tags{
	padding: 15px;
	background: #f7f7f7;
	color: $primary-color;
	border-radius: 5px;
	h3{
		margin: 0 0 20px;
		padding-bottom: 10px;
		border-bottom: $default-border;
	}
	ul{
		padding: 0;
		li{
			display: inline-block;
			margin-bottom: 10px;
			list-style: none;
			a{
				padding: 5px 10px;
				background: #009688;
				color: #fff;
				border-radius: 50px;
			}
		}
	}
}