/* line 2, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.section {
  min-height: 360px;
  margin: 15px 0;
  background: #fff;
  color: #9d1225;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

/* line 9, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.section h3 {
  margin: 0 0 20px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* line 16, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.section ul {
  margin: 0;
  padding: 0 15px;
}

/* line 19, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.section ul li {
  min-height: 50px;
  text-align: center;
}

/* line 22, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.section ul li a {
  display: block;
  margin: 3px;
  padding: 10px;
  background: #fff;
  color: #656565;
  border: 1px solid #8c6954;
  border-top: 1px solid #bfaf80;
  border-radius: 0 0 5px 5px;
  text-align: left;
}

/* line 37, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.section ul > li > a:hover {
  text-decoration: none;
  border-top: 3px solid #bfaf80;
  color: #bfaf80;
}

/* line 41, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.section ul > li > a:hover i {
  transform: scale(1.1);
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

/* line 55, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.section ul > li > a i {
  padding-right: 5px;
  color: #009688;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

/* line 69, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-msg h3 {
  background: #03a9f4;
}

/* line 72, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-network h3 {
  background: #4CAF50;
}

/* line 75, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-coupons h3 {
  background: #fbc02d;
}

/* line 78, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-pricing h3 {
  background: #ef6c00;
}

/* line 81, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-payment h3 {
  background: #673AB7;
}

/* line 84, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-rewards h3 {
  background: #D32F2F;
}

/* line 87, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-reports h3 {
  background: #C0CA33;
}

/* line 90, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-members h3 {
  background: #0097a7;
}

/* line 93, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-cont {
  margin: 10px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

/* line 97, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-cont h3 {
  margin: 0 0 20px;
  padding: 20px;
  background: #009688;
  color: #fff;
  text-align: center;
}

/* line 104, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-cont .row {
  padding: 0 15px 20px;
}

/* line 106, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-cont .row a {
  display: block;
  margin: 3px;
  padding: 10px;
  background: #fff;
  color: #656565;
  border: 1px solid #8c6954;
  border-top: 1px solid #bfaf80;
  border-radius: 0 0 5px 5px;
  text-align: left;
}

/* line 116, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-cont .row a:hover {
  text-decoration: none;
  border-top: 3px solid #bfaf80;
  color: #bfaf80;
}

/* line 120, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-cont .row a:hover i {
  transform: scale(1.1);
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

/* line 134, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/admin-style.scss */
.cat-cont .row a i {
  padding-right: 5px;
  color: #009688;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

/*# sourceMappingURL=../css/admin-style.map */