/* line 3, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page {
  color: #656565;
}

/* line 5, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page h1 {
  margin-bottom: 20px;
  padding: 10px 0;
  color: #656565;
  text-align: center;
}

/* line 11, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .admin-contact {
  min-height: 500px;
  margin: 15px 0;
  padding: 80px 0 120px;
  border-right: 1px solid #ffdcad;
  text-align: center;
}

/* line 17, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .admin-contact img {
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 125px;
  border: 5px solid #f3f3f3;
}

/* line 24, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .admin-contact .admin-info {
  padding: 0 15px;
  color: #656565;
}

/* line 27, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .admin-contact .admin-info h2 {
  margin-bottom: 10px;
  padding: 0;
  color: #009688;
}

/* line 32, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .admin-contact .admin-info span {
  font-size: 18px;
}

/* line 34, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .admin-contact .admin-info span a {
  color: #656565;
}

/* line 38, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .admin-contact .admin-info:after {
  content: " ";
  position: absolute;
  top: 15px;
  left: 0;
  right: 14px;
  bottom: 15px;
  border-right: 1px solid #009688;
}

/* line 50, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .contact-us .form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

/* line 53, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .contact-us .form-horizontal .form-group input {
  height: 40px;
}

/* line 56, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .contact-us .form-horizontal .form-group textarea {
  height: 150px;
  margin-bottom: 10px;
}

/* line 60, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .contact-us .form-horizontal .form-group button {
  background: #009688;
  border: 1px solid #009688;
  border-radius: 3px;
}

/* line 66, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/contact-style.scss */
.contact-page .contact-us .form-horizontal:first-child {
  margin-top: 15px;
}

/*# sourceMappingURL=../css/contact-style.map */