/* line 3, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.navbar {
  margin-bottom: 0 !important;
}

/* line 6, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.nav > li > a {
  color: #fff;
  font-size: 16px;
}

/* line 9, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.nav > li > a:hover {
  background-color: transparent;
  color: #bfaf80;
}

/* line 14, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section {
  padding: 50px 0;
}

/* line 19, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.banner {
  position: relative;
  height: 100%;
  min-height: 700px;
  background: url("../img/banner.jpg");
  background-size: cover;
}

/* line 25, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.banner .banner-content {
  position: absolute;
  top: 40%;
  color: #fff;
}

/* line 29, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.banner .banner-content .site-name {
  font-size: 100px;
  font-weight: 900;
}

/* line 33, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.banner .banner-content h2 {
  margin: 30px 0;
}

/* line 36, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.banner .banner-content .btn-started {
  background: #009688;
  border: 2px solid #009688;
}

/* line 39, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.banner .banner-content .btn-started:hover {
  color: #bfaf80;
}

/* line 47, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.h-header {
  display: none;
}

/* line 50, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.header-fixed {
  float: left;
  width: 100%;
  clear: both;
  padding: 10px 0;
  background: #009688;
  transition: padding 1s;
}

/* line 57, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.header-fixed .logo img {
  float: left;
}

/* line 62, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.h-fixed .header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  z-index: 10;
  border-bottom: 1px solid #eee;
}

/* line 71, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.h-fixed .h-header {
  display: block;
}

/* line 77, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-reward {
  padding: 10px 0;
  background: url("../img/banner-reward.jpg") 0 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
}

/* line 83, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-reward h2 {
  margin: 20px 0;
  font-weight: 900;
  opacity: 0.7;
}

/* line 88, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-reward .btn-reward {
  background: #009688;
  border: 2px solid #009688;
  color: #fff;
}

/* line 92, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-reward .btn-reward:hover {
  color: #bfaf80;
}

/* line 100, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-popular h2 {
  margin-bottom: 30px;
  font-weight: 900;
}

/* line 104, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-popular .pop-website {
  position: relative;
}

/* line 106, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-popular .pop-website .caption {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 113, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-popular .pop-website .caption:before {
  display: block;
  top: 39px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(215, 215, 215, 0.5);
  content: " ";
  z-index: 5;
}

/* line 124, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-popular .pop-website .caption .caption-text {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

/* line 130, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-popular .pop-website .caption .caption-text a {
  color: #000;
  padding: 0 10px;
  font-size: 16px;
}

/* line 134, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-popular .pop-website .caption .caption-text a:hover {
  color: #fff;
  font-weight: 700;
}

/* line 143, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.section-popular .pop-website:hover .caption {
  display: block;
  margin: 4px;
  height: 85px;
}

/* line 153, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.footer {
  background: #1f1e1c;
}

/* line 155, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.footer .navbar-nav {
  float: none;
  text-align: center;
}

/* line 158, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.footer .navbar-nav li {
  padding: 5px 0;
  display: inline-block;
  text-align: center;
  float: none;
}

/* line 163, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/home-style.scss */
.footer .navbar-nav li a {
  font-size: 25px;
}

/*# sourceMappingURL=../css/home-style.map */