/* line 4, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message .message-header {
  background: #009688;
  color: #fff;
}

/* line 8, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message ul {
  margin: 0;
  padding: 0;
}

/* line 11, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message ul li {
  padding: 5px 0;
  color: #656565;
  border-bottom: 1px solid #bdbdbd;
  list-style: none;
}

/* line 16, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message ul li a {
  color: #656565;
}

/* line 18, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message ul li a i {
  color: #009688;
}

/* line 26, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message-item {
  color: #656565;
}

/* line 28, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message-item h2 {
  color: #000;
}

/* line 31, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message-item .message-info {
  margin-top: 20px;
}

/* line 33, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message-item .message-info .message-sender {
  float: left;
}

/* line 36, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message-item .message-info .message-action {
  float: right;
}

/* line 39, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message-item .message-info .message-action a i {
  color: #009688;
}

/* line 45, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/message-style.scss */
.message-item .message-content {
  margin: 10px 0;
  padding: 10px;
  background: #f9fbfa;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

/*# sourceMappingURL=../css/message-style.map */