/* line 5, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network h2 a {
  float: right;
  font-size: 14px;
}

/* line 10, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network .network-header {
  background: #009688;
  color: #fff;
}

/* line 14, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network ul {
  margin: 0;
  padding: 0;
}

/* line 17, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network ul li {
  padding: 5px 0;
  border-bottom: 1px solid #dddddd;
  color: #656565;
  list-style: none;
}

/* line 23, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network ul li div a {
  color: #656565;
}

/* line 25, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network ul li div a i {
  color: #009688;
}

/* line 30, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network ul li .network-view {
  margin: 10px 0;
  padding: 10px;
  background: #f9fbfa;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

/* line 42, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network-add {
  width: 80%;
  margin: 0 auto;
}

/* line 46, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/network-style.scss */
.network-add .network-input select {
  margin-bottom: 10px;
}

/*# sourceMappingURL=../css/network-style.map */