/* line 2, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket {
  color: #656565;
}

/* line 5, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket .section-header h2 {
  float: left;
}

/* line 8, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket .section-header .btn-ticket {
  margin-top: 30px;
  margin-right: 15px;
  float: right;
  border-bottom: 2px solid #009688;
}

/* line 13, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket .section-header .btn-ticket:hover {
  text-decoration: none;
}

/* line 17, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket .section-header:after {
  content: "";
  clear: both;
  overflow: auto;
  display: block;
}

/* line 25, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket .col-header {
  background: #009688;
  color: #fff;
}

/* line 30, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket input {
  width: 50%;
}

/* line 33, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket textarea.form-control {
  width: 50%;
  height: 100px;
}

/* line 39, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket .status {
  float: right;
  border-bottom: 2px solid #009688;
}

/* line 43, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket .content {
  margin-bottom: 20px;
}

/* line 45, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket .content h3 {
  padding-bottom: 10px;
}

/* line 50, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-ticket-style.scss */
.sup-ticket footer .btn-reply {
  background: #009688;
  border: 1px solid #009688;
}

/*# sourceMappingURL=../css/support-ticket-style.map */