/* line 2, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support {
  color: #656565;
}

/* line 4, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .support-banner {
  padding: 160px 0;
  background: url("../img/banner-support.jpg") 10% 90%;
  background-size: cover;
  min-height: 500px;
  color: #fff;
}

/* line 10, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .support-banner h2 {
  margin-bottom: 20px;
}

/* line 13, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .support-banner .helpSupport-search {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

/* line 17, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .support-banner .helpSupport-search input {
  width: 80%;
  height: 46px;
  padding: 0 16px;
  font-size: 16px;
}

/* line 23, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .support-banner .helpSupport-search button {
  width: 20%;
  margin-left: -4px;
  padding: 9px 16px 11px;
  background: #009688;
  border: 1px solid #009688;
  border-radius: 0;
}

/* line 32, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .support-banner h6 a {
  color: #009688;
  font-weight: 700;
}

/* line 37, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section {
  padding: 50px 0;
}

/* line 39, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-square {
  width: 100%;
  max-width: 273px;
  height: 50px;
  display: block;
  margin-bottom: 20px;
  padding: 25px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

/* line 49, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-square span {
  display: block;
}

/* line 53, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-general {
  background: #03a9f4;
}

/* line 56, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-network {
  background: #4CAF50;
}

/* line 59, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-coins {
  background: #fbc02d;
}

/* line 62, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-member {
  background: #0097a7;
}

/* line 65, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-payments {
  background: #673AB7;
}

/* line 68, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-rewards {
  background: #D32F2F;
}

/* line 71, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .section .sup-more {
  background: #009688;
}

/* line 75, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .sec-popArticles {
  background: #f4f4f4;
  box-shadow: inset 0 5px 6px -5px rgba(0, 0, 0, 0.8);
}

/* line 78, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .sec-popArticles h2 {
  margin-bottom: 30px;
}

/* line 81, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .sec-popArticles ul {
  padding-left: 0;
  list-style: none;
}

/* line 84, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .sec-popArticles ul li {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
}

/* line 89, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .sec-popArticles ul li h4 a {
  color: #000;
}

/* line 92, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-style.scss */
.support .sec-popArticles ul li .sup-payment {
  color: #673AB7;
}

/*# sourceMappingURL=../css/support-style.map */