/* line 4, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .supCat-name {
  margin: 30px 0;
}

/* line 7, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .breadcrumb {
  padding-left: 15px;
  background: #fff;
  list-style: none;
}

/* line 12, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .sup-cat {
  padding-left: 0;
  list-style: none;
}

/* line 15, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .sup-cat li {
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
}

/* line 20, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .sup-cat li h4 a {
  color: #000;
}

/* line 23, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .sup-cat li a {
  color: #673AB7;
}

/* line 28, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .support-sidebar {
  padding: 15px;
  background: #fff;
  color: #656565;
  border-radius: 5px;
}

/* line 33, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .support-sidebar h3 {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

/* line 38, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .support-sidebar ul {
  padding-left: 0;
  list-style: none;
}

/* line 41, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .support-sidebar ul li {
  padding: 3px 0;
}

/* line 43, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support .support-sidebar ul li a {
  color: #656565;
}

/* line 50, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support.support-category {
  background: #f4f4f4;
}

/* line 56, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support.supCat-item .breadcrumb {
  background-color: #f7f7f7;
}

/* line 60, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support.supCat-item .content h3 {
  margin: 20px 0;
}

/* line 64, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support.supCat-item .support-sidebar {
  padding: 15px;
  background: #f7f7f7;
  color: #656565;
  border-radius: 5px;
}

/* line 70, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/support-category-style.scss */
.support.supCat-item .supItem-footer {
  margin: 20px 0;
}

/*# sourceMappingURL=../css/support-category-style.map */