/* line 3, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.account {
  background: #009688;
}

/* line 5, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.account ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

/* line 11, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.account ul li {
  display: inline-block;
  padding: 10px 0;
}

/* line 14, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.account ul li a {
  padding: 0px 15px;
  color: #fff;
  position: relative;
}

/* line 18, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.account ul li a:after {
  width: 25px;
  bottom: -10px;
  left: 15px;
  content: "";
  border-bottom: 4px solid #fff;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  position: absolute;
}

/* line 30, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.account ul:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

/* line 41, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate {
  margin-top: 100px;
  color: #656565;
}

/* line 46, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate ul li a {
  text-transform: uppercase;
}

/* line 53, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate {
  padding-top: 50px;
}

/* line 55, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

/* line 61, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate ul {
  text-align: center;
  padding-left: 0;
}

/* line 64, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate ul li {
  margin: 0 5px;
  display: inline-block;
  width: 150px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* line 70, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate ul li a {
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
}

/* line 77, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate ul .menu-home {
  background: #03a9f4;
}

/* line 80, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate ul .menu-banners {
  background: #4CAF50;
}

/* line 83, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate ul .menu-referrals {
  background: #0097a7;
}

/* line 86, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .account-affiliate ul .menu-earnings {
  background: #fbc02d;
}

/* line 93, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content {
  padding-top: 10px;
}

/* line 95, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content h5 {
  margin: 15px 0;
}

/* line 97, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content h5 button {
  color: #fff;
  border: 1px solid transparent;
  padding: 4px 9px;
  background: #009688;
}

/* line 104, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content p {
  margin-top: 30px;
}

/* line 106, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content p .btn-share {
  margin: 0 5px;
}

/* line 108, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content p .btn-share i {
  height: 25px;
  width: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 25px;
}

/* line 116, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content p .btn-fb {
  background: #3b5998;
  border-color: transparent;
}

/* line 120, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content p .btn-tweet {
  background: #1da1f2;
  border-color: transparent;
}

/* line 124, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content p .btn-google {
  background: #d11718;
  border-color: transparent;
}

/* line 129, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content form {
  width: 35%;
  margin: 0 auto;
  text-align: left;
}

/* line 133, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-content form button {
  margin-top: 10px;
}

/* line 140, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate section {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

/* line 144, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate section .btn-copy {
  margin-top: 10px;
  padding: 5px 15px;
  background: #009688;
  color: #fff;
  border: 1px solid transparent;
}

/* line 154, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-referrals {
  padding-top: 30px;
}

/* line 156, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-referrals .row-header {
  margin-bottom: 10px;
  padding: 5px 0;
  background: #009688;
  border-bottom: 2px solid #009688;
}

/* line 161, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-referrals .row-header strong {
  color: #fff;
}

/* line 171, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-earnings {
  padding-top: 30px;
}

/* line 173, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-earnings .row-header {
  margin-bottom: 10px;
  padding: 5px 0;
  background: #009688;
  border-bottom: 2px solid #009688;
}

/* line 178, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-affiliate-style.scss */
.user-affiliate .affiliate-earnings .row-header strong {
  color: #fff;
}

/*# sourceMappingURL=../css/user-affiliate-style.map */