/* line 3, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet {
  padding-top: 100px;
  color: #656565;
}

/* line 6, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet h2 {
  margin-bottom: 50px;
}

/* line 8, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet h2 .btn-coins {
  float: right;
  margin-left: 10px;
}

/* line 13, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .wallet {
  border: 1px solid #dddddd;
  border-radius: 5px;
}

/* line 16, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .wallet h4 {
  margin: 0;
  padding: 10px;
  background: #009688;
  color: #fff;
  text-align: center;
  line-height: 30px;
}

/* line 23, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .wallet h4 a {
  color: #fff;
}

/* line 27, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .wallet p {
  padding: 15px 10px 5px;
  text-align: center;
}

/* line 33, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .coins .coin {
  border: 1px solid #dddddd;
  border-radius: 5px;
}

/* line 36, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .coins .coin h4 {
  margin: 0;
  padding: 10px;
  color: #fff;
  line-height: 30px;
}

/* line 41, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .coins .coin h4 .btn-buyCoins {
  background: transparent;
  font-size: 10px;
  float: right;
}

/* line 47, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .coins .coin p {
  padding: 15px 10px 5px;
  text-align: center;
}

/* line 53, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .coins:first-child h4 {
  background: #d3ae18;
}

/* line 58, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .coins:nth-child(2) h4 {
  background: #c6c6c4;
}

/* line 63, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .coins:nth-child(3) h4 {
  background: #ffc0cb;
}

/* line 68, C:/xampp/deedel-v2/dev-deedel/public/assets/scss/user-wallet-style.scss */
.user-wallet .coins:nth-child(4) h4 {
  background: #4CAF50;
}

/*# sourceMappingURL=../css/user-wallet-style.map */