//colors
$primary-color: #656565;
$teal-color: #009688;
$white-color: #fff;

//icon-color
$icon-color: #009688;

//hover-color
$text-hover: #bfaf80;

//bg-color for header
$blue-light: #03a9f4;
$green: #4CAF50;
$green-lime: #C0CA33;
$yellow-dark: #fbc02d;
$orange-darker: #ef6c00;
$purple-deep: #673AB7;
$red-dark: #D32F2F;
$cyan-dark: #0097a7;
$teal: #009688;
$bg-grey: #f4f4f4;
$bg-gold: #d3ae18;
$bg-silver: #c6c6c4;
$pink: #ffc0cb;

//boder
$default-border: 1px solid #dddddd;

//bg-border
$bg-border: #009688;