@import '../base/variable';
.section {
	min-height: 360px;
	margin: 15px 0;   
    background: #fff;
    color: #9d1225;
    border-radius: 5px;
    border: $default-border;
    h3{
		margin: 0 0 20px;
		padding: 20px 0;
		text-align: center;	
		text-transform: uppercase;
		color: #fff;
	}
	ul{
		margin: 0;
		padding: 0 15px;
		li{
			min-height: 50px;
			text-align: center;
			a{	
				display: block;
				margin: 3px;
				padding: 10px;
				background: #fff;
				color: $primary-color;
				border: 1px solid #8c6954;
			    border-top: 1px solid #bfaf80;
			    border-radius: 0 0 5px 5px;
			    text-align: left;
			}
		}
	}
	ul>li>a{

		&:hover{
			text-decoration: none;
			border-top: 3px solid #bfaf80;
			color: #bfaf80;
			i{
		    	transform: scale(1.1);
        		box-shadow: 0px 0px 150px #000000;
			    z-index: 2;
			    -webkit-transition: all 200ms ease-in;
			    -webkit-transform: scale(1.5);
			    -ms-transition: all 200ms ease-in;
			    -ms-transform: scale(1.5);   
			    -moz-transition: all 200ms ease-in;
			    -moz-transform: scale(1.5);
			    transition: all 200ms ease-in;
			    transform: scale(1.5);
		    }
		}
		i{
			padding-right: 5px;
			color: $icon-color;
			-webkit-transition: all 200ms ease-in;
	    	-webkit-transform: scale(1); 
	    	-ms-transition: all 200ms ease-in;
	    	-ms-transform: scale(1); 
	    	-moz-transition: all 200ms ease-in;
	    	-moz-transform: scale(1);
	    	transition: all 200ms ease-in;
	    	transform: scale(1);  
    	}
	}
}
.cat-msg h3{
	background: $blue-light;
}
.cat-network h3{
	background: $green;
}
.cat-coupons h3{
	background: $yellow-dark;
}
.cat-pricing h3{
	background: $orange-darker;
}
.cat-payment h3{
	background: $purple-deep;
}
.cat-rewards h3{
	background: $red-dark;
}	
.cat-reports h3{
	background: $green-lime;
}
.cat-members h3{
	background: $cyan-dark;
}
.cat-cont{
	margin: 10px 0;
	border: $default-border;
	border-radius: 5px;
 	h3{
 		margin: 0 0 20px;
 		padding: 20px;
		background: $teal;
		color: #fff;
		text-align: center;
	}
	.row{
		padding: 0 15px 20px;
		a{
			display: block;
			margin: 3px;
			padding: 10px;
			background: #fff;
			color: $primary-color;
			border: 1px solid #8c6954;
		    border-top: 1px solid #bfaf80;
		    border-radius: 0 0 5px 5px;
		    text-align: left;
			&:hover{
				text-decoration: none;
				border-top: 3px solid #bfaf80;
				color: #bfaf80;
				i{
			    	transform: scale(1.1);
	        		box-shadow: 0px 0px 150px #000000;
				    z-index: 2;
				    -webkit-transition: all 200ms ease-in;
				    -webkit-transform: scale(1.5);
				    -ms-transition: all 200ms ease-in;
				    -ms-transform: scale(1.5);   
				    -moz-transition: all 200ms ease-in;
				    -moz-transform: scale(1.5);
				    transition: all 200ms ease-in;
				    transform: scale(1.5);
			    }
			}
			i{
				padding-right: 5px;
				color: $icon-color;
				-webkit-transition: all 200ms ease-in;
		    	-webkit-transform: scale(1); 
		    	-ms-transition: all 200ms ease-in;
		    	-ms-transform: scale(1); 
		    	-moz-transition: all 200ms ease-in;
		    	-moz-transform: scale(1);
		    	transition: all 200ms ease-in;
		    	transform: scale(1);  
	    	}
		}
	}
}