@import '../base/variable';

.contact-page{
	color: $primary-color;
	h1{
		margin-bottom: 20px;
		padding: 10px 0;
		color: $primary-color;
		text-align: center;
	}
	.admin-contact{
		min-height: 500px;
	    margin: 15px 0;
	    padding: 80px 0 120px;
	    border-right: 1px solid #ffdcad;
	    text-align: center;
	    img{
			width: 125px;
			height: 125px;
			margin: 0 auto;
		    border-radius: 125px;
		    border: 5px solid #f3f3f3;
		}
		.admin-info{
			padding: 0 15px;
			color: $primary-color;
			h2{	
				margin-bottom: 10px;
				padding: 0;
				color: $teal;
			}
			span{
				font-size: 18px;
				a{
					color: $primary-color;
				}
			}
			&:after{
				content: " ";
			    position: absolute;
			    top: 15px;
			    left: 0;
			    right: 14px;
			    bottom: 15px;
			    border-right: 1px solid $teal;
			}
		}
	}
	.contact-us .form-horizontal{
	 	.form-group{
			margin-right: 0;
			margin-left: 0;
			input{
				height: 40px;
			}
			textarea{
				height: 150px;
				margin-bottom: 10px;
			}	
			button{
				background: $teal;
				border: 1px solid $teal;
				border-radius: 3px;
			}
		}
		&:first-child{
			margin-top: 15px;
		}
	}	
}

