@import '../base/variable';

.navbar{
	margin-bottom: 0!important;
}
.nav>li>a{
	color: #fff;	
	font-size: 16px;
	&:hover{
		background-color: transparent;
		color: $text-hover;
	}
}
.section{
	padding: 50px 0;
}

//banner area
.banner{
	position: relative;
	height: 100%;
	min-height: 700px;
	background: url('../img/banner.jpg');
	background-size: cover;
	.banner-content{
		position: absolute;
		top: 40%;
		color: #fff;
		.site-name{
			font-size: 100px;
			font-weight: 900;
		}
		h2{
			margin: 30px 0;
		}
		.btn-started{
			background: $teal;
			border: 2px solid $teal;
			&:hover{
				color: $text-hover;
			}
		}
	}
}

//header-fixed area
.h-header{
  display: none;
}
.header-fixed{
	float: left;
	width: 100%;
	clear: both;
	padding: 10px 0;
	background: $teal;
	transition: padding 1s;
	.logo img{
		float: left;
	}
}
.h-fixed{
	.header-fixed{
  		position: fixed;
  		top: 0;
  		left: 0;
  		right: 0;
		padding: 5px 0;
  		z-index: 10;
  		border-bottom: 1px solid #eee;
	}
	.h-header{
  		display: block;
	}
}

//Reward area
.section-reward{
	padding: 10px 0;
	background: url('../img/banner-reward.jpg')0 50%;
	background-size: cover;
	color: #fff;
	text-align: center;
	h2{
		margin: 20px 0;
		font-weight: 900;
		opacity: 0.7;
	}
	.btn-reward{
		background: $teal;
		border: 2px solid $teal;
		color: #fff;
		&:hover{
			color: $text-hover;
		}
	}
}

//website popular area
.section-popular{
	h2{
		margin-bottom: 30px;
		font-weight: 900;
	}
	.pop-website{
		position: relative;
		.caption{
			display: none;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			overflow: hidden;
			&:before{
				display: block;
			    top: 39px;
				right: 0;
				bottom: 0;
				left: 0;
				position: absolute;
			    background-color: rgba(215,215,215,0.5);
			    content: " ";
			    z-index: 5;
			}
			.caption-text{
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
				a{
					color: #000;
					padding: 0 10px;
					font-size: 16px;
					&:hover{
						color: #fff;	
						font-weight: 700;
					}
				}

			}
		}
		&:hover{
			.caption{
				display: block;
			    margin: 4px;
			    height: 85px;
			}
		}
	}
}

//footer area
.footer{
	background: #1f1e1c;
	.navbar-nav{
		float: none;
		text-align: center;
		li{
			padding: 5px 0;
			display: inline-block;
			text-align: center;
			float: none;
			a{
				font-size: 25px;
			}
		}
	}
}