@import "../base/_variable";

.message{
	.message-header{
		background: $bg-border;
		color: #fff;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			padding: 5px 0;
			color: $primary-color;
    		border-bottom: 1px solid #bdbdbd;
			list-style: none;
			a{
				color: $primary-color;
				i{
					color: $icon-color;
				}
			}
		}
	}
}

.message-item{
	color: $primary-color;
	h2{
		color: #000;
	}
	.message-info{
		margin-top: 20px;
		.message-sender{
			float: left;
		}
		.message-action{
			float: right;
			a{
				i{
					color: $icon-color;
				}
			}
		}
	}
	.message-content{
		margin: 10px 0;
		padding: 10px;
		background: #f9fbfa;
		border: $default-border;
		border-radius: 3px;
	}
}