@import '../base/variable';

.network{
	h2{
		a{
			float: right;
			font-size: 14px;
		}
	}
	.network-header{
		background: $bg-border;
		color: #fff;	
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			padding: 5px 0;
			border-bottom: $default-border;
			color: $primary-color;
			list-style: none;
			div{
				a{
					color: $primary-color;
					i{
						color: $icon-color;
					}
				}
			}
			.network-view{
				margin: 10px 0;
				padding: 10px;
				background: #f9fbfa;
				border: $default-border;
				border-radius: 5px;
			}
		}
	}
}

//network add
.network-add{
	width: 80%;
	margin: 0 auto;
	.network-input{
		select{
			margin-bottom: 10px;
		}
	}
}