@import '../base/variable';
//support category
.support{
	.supCat-name{
		margin: 30px 0;
	}
	.breadcrumb{
		padding-left: 15px;
		background: $white-color;
		list-style: none;
	}
	.sup-cat {
		padding-left: 0;
		list-style: none;
		li{
			padding: 20px;
		    margin-bottom: 20px;
		    background: $white-color;
		    border-radius: 10px;
		    h4 a{
		    	color: #000;
		    }
		    a{
		    	color: $purple-deep;
		    }
		}
	}
	.support-sidebar{
		padding: 15px;
	    background: $white-color;
	    color: $primary-color;
	    border-radius: 5px;
	    h3{
	    	margin: 0 0 20px;
		    padding-bottom: 10px;
		    border-bottom: $default-border;
	    }
	    ul{
	    	padding-left: 0;
	    	list-style: none;
	     	li {
	     		padding: 3px 0;
		     	a{
		    		color: $primary-color;
		   	 	}
		   	 }
	   	}
	}
}
.support.support-category{
	background: $bg-grey;
}

//support category item
.support.supCat-item{
	.breadcrumb{
		background-color: #f7f7f7;
	}
	.content{
		h3{
			margin: 20px 0;
		}
	}
	.support-sidebar{
		padding: 15px;
	    background: #f7f7f7;;
	    color: #656565;
	    border-radius: 5px;
	}
	.supItem-footer{
		margin: 20px 0;
	}
}
