@import '../base/variable';
.sup-ticket{
	color: $primary-color;
	.section-header{
		h2{
			float: left;
		}
		.btn-ticket{
			margin-top: 30px;
			margin-right: 15px;
			float: right;
			border-bottom: 2px solid $teal;
			&:hover{
				text-decoration: none;
			}
		}
		&:after{
			content: "";
			clear: both;
			overflow: auto;
			display: block;
		}

	}
	.col-header{
		background: $teal;
		color: $white-color;
	}	
	//ticket add
	input{
		width: 50%;
	}
	textarea.form-control{
		width: 50%;
		height: 100px;
	}

	//ticket-item
	.status{
		float: right;
		border-bottom: 2px solid $teal;
	}
	.content{
		margin-bottom: 20px;
		h3{
			padding-bottom: 10px;
		}
	}
	footer{
		.btn-reply{
			background: $teal;
			border: 1px solid $teal;
		}
	}
}
