@import '../base/variable';
.support{
	color: $primary-color;
	.support-banner{
		padding: 160px 0;
		background: url('../img/banner-support.jpg')10% 90%;
		background-size: cover;
		min-height: 500px;
		color: $white-color;
		h2{
			margin-bottom: 20px;
		}
		.helpSupport-search{
			position: relative;
		    max-width: 500px;
		    margin: 0 auto;
			input{
				width: 80%;
			    height: 46px;
			    padding: 0 16px;
			    font-size: 16px;
			}
			button{
				width: 20%;
				margin-left: -4px;
				padding: 9px 16px 11px;
				background: $teal;
				border: 1px solid $teal;
				border-radius: 0;
			}
		}
		h6 a{ 
			color: $teal;
			font-weight: 700;
		}
	}
	.section{
		padding: 50px 0;
		.sup-square{
			width: 100%;
    		max-width: 273px;
			height: 50px;
			display: block;
			margin-bottom: 20px;
			padding: 25px 10px;
			color: #fff;
			border-radius: 5px;
			font-weight: 700;
			span{
				display: block;
			}
		}
		.sup-general{
			background: $blue-light;
		}
		.sup-network{
			background: $green;
		}
		.sup-coins{
			background: $yellow-dark;
		}
		.sup-member{
			background: $cyan-dark;
		}
		.sup-payments{
			background: $purple-deep;
		}
		.sup-rewards{
			background: $red-dark;
		}
		.sup-more{
			background: $teal;
		}
	}
	.sec-popArticles{
		background: $bg-grey;
		box-shadow: inset 0 5px 6px -5px rgba(0,0,0,0.8);
		h2{
			margin-bottom: 30px;
		}
		ul{
			padding-left: 0;
			list-style: none;
			li{
				padding: 20px;
				margin-bottom: 20px;
				background: $white-color;
				border-radius: 10px;
				h4 a{
					color: #000;
				}
				.sup-payment{
					color: $purple-deep;
				}
			}
		}
	}
}

