@import '../base/variable';

.account{
	background: $teal;
	ul{
		list-style: none;
		padding-left: 0;
		margin: 0;
		margin-bottom: 10px;
		text-align: center;
		li{
			display: inline-block;
			padding: 10px 0;
			a{
				padding: 0px 15px;
				color: $white-color;
				position: relative;
				&:after{
					width: 25px;
					bottom: -10px;
					left: 15px;
					content: "";
					border-bottom: 4px solid #fff;
					border-top-left-radius: 100px;
    				border-bottom-right-radius: 100px;
					position: absolute;
				}
			}
		}
		&:after{	
			content: "";
			clear: both;
			display: block;
			visibility: hidden;
		}
	}
}
//account navigation


.user-affiliate{
	margin-top: 100px;
	color: $primary-color;
	ul{
		li{
			a{
				text-transform: uppercase;
			}
		}
	}

	//account affiliate
	.account-affiliate{
		padding-top: 50px;
		&:after{	
			content: "";
			clear: both;
			display: block;
			visibility: hidden;
		}
		ul{
			text-align: center;
			padding-left: 0;
			li{
				margin: 0 5px;
				display: inline-block;
				width: 150px;
				border-top-left-radius: 30px;
				border-bottom-right-radius: 30px;
				a{
					padding: 10px 15px;
					display: inline-block;
					color: #fff;
					font-weight: 700;
				}
			}
			.menu-home{
				background: $blue-light;
			}
			.menu-banners{
				background: $green;
			}
			.menu-referrals{
				background: $cyan-dark;
			}
			.menu-earnings{
				background: $yellow-dark;
			}
		}
	}

	//affiliate content
	.affiliate-content{
		padding-top: 10px;
		h5{
			margin: 15px 0;
			button{
				color: #fff;
			    border: 1px solid transparent;
			    padding: 4px 9px;
			    background: #009688;
			}
		}
		p{
			margin-top: 30px;
			.btn-share{
				margin: 0 5px;
				i{
					height: 25px;
				    width: 25px;
				    border: 1px solid #fff;
				    border-radius: 50%;
				    line-height: 25px;
				}
			}
			.btn-fb{
				background: #3b5998;
				border-color: transparent;
			}
			.btn-tweet{
				background: #1da1f2;
				border-color: transparent;
			}
			.btn-google{
				background: #d11718;
				border-color: transparent;
			}
		}
		form{
			width: 35%;
			margin: 0 auto;
    		text-align: left;
    		button{
    			margin-top: 10px;
    		}
		}
	}

	//affiliate banners
	section{
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		.btn-copy{
			margin-top: 10px;
		    padding: 5px 15px;
		    background: #009688;
			color: #fff;
			border: 1px solid transparent;
		}
	}

	//affiliate referrals
	.affiliate-referrals{
		padding-top: 30px;
		.row-header{
			margin-bottom: 10px;
			padding: 5px 0;
			background: $teal;
			border-bottom: 2px solid $teal;
			strong{
				color: $white-color;
			}
		}
		.col{

		}
	}

	//affiliate earnings
	.affiliate-earnings{
		padding-top: 30px;
		.row-header{
			margin-bottom: 10px;
			padding: 5px 0;
			background: $teal;
			border-bottom: 2px solid $teal;
			strong{
				color: $white-color;
			}
		}
	}
}
