@import '../base/variable';

.user-wallet{
	padding-top: 100px;
	color: $primary-color;
	h2{
		margin-bottom: 50px;
		.btn-coins{
			float: right;
			margin-left: 10px;
		}
	}
	.wallet{
		border: $default-border;
		border-radius: 5px;
		h4{
			margin: 0;
			padding: 10px;
			background: $teal;
			color: #fff;
			text-align: center;
			line-height: 30px;
			a{
				color: $white-color;
			}
		}
		p{
			padding: 15px 10px 5px;
			text-align: center;
		}
	}
	.coins{
		.coin{
			border: $default-border;
			border-radius: 5px;
			h4{
				margin: 0;
				padding: 10px;
				color: #fff;
				line-height: 30px;
    			.btn-buyCoins{
    				background: transparent;
					font-size: 10px;
					float: right;
				}
			}
			p{
				padding: 15px 10px 5px;
				text-align: center;
			}
		}
		&:first-child{
			h4{
				background: $bg-gold;
			}
		}
		&:nth-child(2){
			h4{
				background: $bg-silver;
			}
		}
		&:nth-child(3){
			h4{
				background: $pink;
			}
		}
		&:nth-child(4){
			h4{
				background: $green
			}
		}
	}
	
}