/* line 4, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.admin-nav .network-dashboard-menu {
  width: 60px;
  height: 60px;
  bottom: 0;
  background: #009688;
  display: block;
  margin-bottom: 15px;
  margin-left: 15px;
  position: fixed;
  color: #fff;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}

/* line 18, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.admin-nav .admin-nav-items {
  background: #009688;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  list-style: none;
  bottom: 0;
}

/* line 26, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.admin-nav .admin-nav-items > li {
  float: left;
}

/* line 28, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.admin-nav .admin-nav-items > li > a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* line 35, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.admin-nav .admin-nav-items > li .nav-subItems {
  bottom: 60px;
  margin-left: 15px;
  position: absolute;
  padding: 15px;
  background: #e2f8f6;
  border-radius: 5px;
  list-style: none;
}

/* line 43, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.admin-nav .admin-nav-items > li .nav-subItems a {
  color: #656565;
}

/* line 45, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.admin-nav .admin-nav-items > li .nav-subItems a i {
  color: #009688;
  padding-right: 5px;
}

/* line 49, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.admin-nav .admin-nav-items > li .nav-subItems a:after {
  content: '';
  position: absolute;
  left: 10%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #009688;
  clear: both;
}

/* line 67, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.network-dashboard h4 {
  color: #009688;
  text-align: center;
}

/* line 70, C:/xampp/deedel-v2/dev-deedel/public/assets/network/scss/admin-network.scss */
.network-dashboard h4 span {
  display: block;
  font-size: 15px;
}

/*# sourceMappingURL=../css/admin-network.map */