
@keyframes example {
    0%   {background-color: #fd4b2e;}
    25%  {background-color: #fd942e;}
    50%  {background-color: #fdd42e;}
    100% {background-color: #8bc82a;}
}
.back{
    background:#fd4b2e;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: 15;
    
}

.page-wrapper{
  padding-top: 50px;
}
.account-page-wrapper{
  padding-left: 50px;
}
.side-mini-panel{
  z-index: 9999;
}


.footer {
  position: static;
  background: #2b2e37;
  padding: 80px 0 30px;
  color: #868c9e;
}
.footer ul.footer-link li a {
  color: #868c9e;
}
.footer ul.footer-link li a:hover {
  color: #00c0c9;
}
.footer .sub-footer {
  margin-top: 60px;
  border-top: 1px solid #373a45;
  padding: 30px 0 0;
}


.container-fluid {
  padding: 0px;
  overflow: hidden;
}
.container-fluid .fix-width {
  max-width: 1170px;
}
.fix-width {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}

.side-mini-panel{
  display: none;
}